#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 1em;
  width: 18em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
